workflows/development/carousel-generator/workflow-8bhcEHkbbvnhdHBh-FIXED.json
{
  "name": "AI Carousel Generator - 5 Slides",
  "nodes": [
    {
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [250, 300],
      "webhookId": "carousel-form",
      "parameters": {
        "formTitle": "AI Carousel Generator",
        "formDescription": "Generate a 5-slide carousel with AI-powered imagery",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is the main subject/theme?",
              "fieldType": "text",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Audience",
              "fieldType": "text",
              "requiredField": true
            },
            {
              "fieldLabel": "Call to Action",
              "fieldType": "text",
              "requiredField": false
            },
            {
              "fieldLabel": "Automation Use Case",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Client Onboarding"
                  },
                  {
                    "option": "Email Sequences"
                  },
                  {
                    "option": "AI Content Creation"
                  },
                  {
                    "option": "Business Scaling"
                  },
                  {
                    "option": "AI Toolkit"
                  },
                  {
                    "option": "Custom"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Image Style",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "vivid"
                  },
                  {
                    "option": "natural"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Generating your carousel... This may take 3-5 minutes."
            }
          }
        }
      }
    },
    {
      "id": "set-user-input",
      "name": "Set User Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "theme",
              "name": "carousel_theme",
              "value": "={{ $json['What is the main subject/theme?'] }}",
              "type": "string"
            },
            {
              "id": "audience",
              "name": "target_audience",
              "value": "={{ $json['Target Audience'] }}",
              "type": "string"
            },
            {
              "id": "cta",
              "name": "call_to_action",
              "value": "={{ $json['Call to Action'] || 'Learn More' }}",
              "type": "string"
            },
            {
              "id": "use-case",
              "name": "use_case",
              "value": "={{ $json['Automation Use Case'] }}",
              "type": "string"
            },
            {
              "id": "style",
              "name": "carousel_style",
              "value": "={{ $json['Image Style'] || 'vivid' }}",
              "type": "string"
            },
            {
              "id": "slides",
              "name": "slide_count",
              "value": 5,
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "openai-model",
      "name": "OpenAI GPT-4 Turbo",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [650, 200],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list"
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "6BIzzQu5jAD5jKlH",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "memory-buffer",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [650, 350],
      "parameters": {
        "contextWindowLength": 5
      }
    },
    {
      "id": "output-parser",
      "name": "Parse Slide Prompts",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [650, 500],
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"carousel_title\": {\n      \"type\": \"string\",\n      \"description\": \"Catchy title for the carousel (5-8 words)\"\n    },\n    \"carousel_description\": {\n      \"type\": \"string\",\n      \"description\": \"Brief description of carousel theme (15-20 words)\"\n    },\n    \"slide_prompts\": {\n      \"type\": \"array\",\n      \"description\": \"Array of 5 detailed DALL-E 3 prompts\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"slide_number\": {\n            \"type\": \"number\",\n            \"description\": \"Slide number (1-5)\"\n          },\n          \"prompt\": {\n            \"type\": \"string\",\n            \"description\": \"Detailed visual description following SYNRG aesthetic\"\n          },\n          \"style\": {\n            \"type\": \"string\",\n            \"description\": \"Image style (vivid or natural)\",\n            \"enum\": [\"vivid\", \"natural\"]\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"Brief slide description (10-15 words)\"\n          }\n        },\n        \"required\": [\"slide_number\", \"prompt\", \"style\", \"description\"]\n      },\n      \"minItems\": 5,\n      \"maxItems\": 5\n    },\n    \"tags\": {\n      \"type\": \"array\",\n      \"description\": \"3-5 relevant tags\",\n      \"items\": { \"type\": \"string\" }\n    }\n  },\n  \"required\": [\"carousel_title\", \"carousel_description\", \"slide_prompts\", \"tags\"]\n}"
      }
    },
    {
      "id": "ai-agent",
      "name": "Carousel Prompt Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [850, 300],
      "parameters": {
        "promptType": "define",
        "text": "={{ \"Theme: \" + $json.carousel_theme + \"\\nTarget Audience: \" + $json.target_audience + \"\\nCall to Action: \" + $json.call_to_action + \"\\nUse Case: \" + $json.use_case + \"\\nStyle: \" + $json.carousel_style + \"\\n\\nGenerate 5 carousel slide prompts that follow the SYNRG aesthetic guidelines and tell a cohesive story.\" }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a graphic design prompt writer for an automation company called SYNRG. You create prompts that design modern sleek, minimalist graphics for social media.\\n\\nSYNRG AESTHETIC GUIDELINES:\\n\\nA vertical (3:4) aspect ratio 4K resolution poster with a hyper-clean, minimalist futuristic aesthetic, styled for a modern exhibition or high-end product showcase.\\n\\nBackground & Composition:\\n- Use a super light cold gray background (#f4f4f4 or lighter) with soft lighting gradients, creating an airy, tech-forward feeling\\n- The layout should feel balanced and intentional with generous negative space, giving each visual element room to breathe\\n- Optionally include barely-there geometric textures or fine digital grain in the background for subtle depth\\n\\nCenterpiece Object / Form:\\n- Prominent in the poster, place a 3D abstract form (organic or slightly geometric)\\n- Made of frosted glass or translucent resin, with a silky, smooth, softly reflective surface\\n- Surface details include: subtle grainy noise, edge softness, and minor refraction effects\\n- Shape options: rounded rectangle, orb, infinite triangle, arrows, graphs, gears, electronics, tools, polygonal ring, interlocked forms, or abstract clusters—use variety while staying minimal\\n\\nMaterial & Color Treatment:\\n- IMPORTANT: Use exact colors: gradient from bright mint green (#24DE99) to pearl white (#FFFFFF)\\n- Use a faint glow and soft diffusion of light along the edges, resembling ambient softbox lighting\\n- Drop soft shadows that fall slightly behind and around the object—long and diffused, with faint cyan or mint hues\\n\\nTypography + Overlay Effects:\\n- Main title (example: \\\"SYNRG\\\") should use a bold, geometric sans-serif font (like Satoshi, Monument, or Eurostile Bold)\\n- Title is centered or symmetrically aligned, partially obscured by the metaball object\\n- Some or none of the text is behind the frosted object and should appear Gaussian blurred, as if viewed through lightly fogged glass\\n- Optional subtitle (below): include in smaller weight, spaced below the primary text—aligned center or flush left/right\\n\\nTypography variations:\\n- \\\"AUTOMATE WITH CLARITY\\\"\\n- \\\"Simple Scaling\\\"\\n- \\\"HUMAN-FIRST AUTOMATION\\\"\\n- \\\"Memory in motion\\\"\\n- \\\"evolving workflows\\\"\\n- Or any brand-aligned copy\\n\\nPSYCHOLOGICAL PRINCIPLES:\\nUse the availability heuristic: Ask the audience if they agree with something, and if their brain can easily return many instances of memory of that thing being true, then it resonates.\\n\\nExample copy:\\n\\\"Seriously? Do you consider yourself a focused high-performer but still feel tangled up in tasks? Motivated more than most that you know but constantly stretched too thin?\\n\\nBe real.\\n\\nAre you the type of person who knows exactly what decision you need to make next and can visualize the entire road map ahead without batting an eye but…\\n\\nYou Feel Stuck. Trapped in situations where the manual tasks beneath your brain power create a tangle mess of thoughts causing the brain to overheat?\\n\\nThis is due to your brain's relationship to the number of tasks that can run in the background of your mind and how much clarity they cut from the focus your brain is trying to direct to the task in the present.\\n\\nThe difficult truth?\\n\\nAchieving optimal performance in any area of your life includes reducing the tasks that are low leverage in your environment to the point where you can start taking advantage of all the compute your brain has to offer on the right task.\\n\\nHow do you eliminate the noise?\\n\\nDo the job well. Then codify that process into automation law. Patent the process in your brain. Translate it into system architecture.\\n\\nAutomate it.\\n\\nThen...only tap in when the potential energy is at its apex.\\\"\\n\\nUSE CASE EXAMPLES:\\n\\n1. Client Onboarding Automation\\nA vertical (3:4) 4K resolution minimalist futuristic exhibition poster, with a super light cold gray background (#f4f4f4). The design is clean and balanced with generous negative space.\\n\\nAt the center is a 3D frosted glass metaball shaped like an abstract \\\"client card\\\"—a rectangular form with rounded edges and layered depth, subtly evoking a CRM profile. Small secondary shapes include a checkmark, ID badge, and person icon, softly fused into the primary form.\\n\\nGradient from mint green (#24DE99) to pearl white (#FFFFFF), with smooth translucent material, subtle grain, and soft ambient lighting. Cast soft shadows with a faint green tint.\\n\\nMain title: \\\"ONBOARD INSTANTLY\\\", with portions Gaussian blurred through the frosted form.\\nOverall tone: scalable, clean, quietly powerful.\\n\\n2. Email Sequences / Follow-up Flows\\nA vertical 4K poster with a #f4f4f4 cold gray background. Centered is a frosted glass metaball shaped like an envelope + flow arrow hybrid—rounded letterform connected to a soft arrow tail to suggest automation and direction.\\n\\nThe metaball is semi-transparent with a grainy matte-glass texture. Color transitions from #24DE99 to #FFFFFF. Long soft shadows and a glowing edge cast under top-right softbox lighting.\\n\\nMain title: \\\"FOLLOW-UP WHILE YOU SLEEP\\\", subtly obscured behind the frosted glass.\\nDesign should feel calming, futuristic, and confident.\\n\\n3. AI-Powered Content Creation\\nA vertical 3:4 format 4K poster with a light cold gray background (#f4f4f4). At the center is a frosted glass 3D metaball in the shape of a chat bubble intersecting with a pen icon—representing AI content generation.\\n\\nThe material is smooth, softly reflective, with a green-to-white gradient (#24DE99 → #FFFFFF). Add a faint digital texture and a curved shadow under the bubble.\\n\\nMain title: \\\"WRITE WITHOUT BURNOUT\\\", part of which is obscured and blurred by the metaball.\\nAesthetic: thoughtful, sleek, supportive.\\n\\n4. Business Scaling & System Building\\nMinimalist 3:4 4K poster. The central object is a frosted glass metaball cluster of interlinked shapes—gears, a growing graph, and network nodes—symbolizing system design, scaling, and growth.\\n\\nAll objects share a fluid, fused quality. Gradient transition from #24DE99 to #FFFFFF. Ambient lighting from above left casts soft directional shadows and faint glow around the form.\\n\\nMain title: \\\"BUILD SYSTEMS THAT SCALE\\\" partially blurred behind the structure.\\nVisual vibe: expansive, elevated, clean intelligence.\\n\\n5. AI Toolkits / Anti-Burnout Stack\\n4K vertical poster with super light gray background. Central frosted metaball shaped like a modular kit—four small fused icons (calendar, bolt, chat, dollar sign) arranged in a loose square grid like app tiles.\\n\\nEach icon appears embedded in a silky glass blob with green-to-white gradient and translucent layering.\\n\\nMain title: \\\"YOUR AI TOOLKIT\\\", overlaid and partially blurred through the form.\\nFeel: helpful, modular, empowering.\\n\\nOUTPUT REQUIREMENTS:\\n- Generate carousel_title, carousel_description, 5 detailed slide_prompts following SYNRG aesthetic, and relevant tags\\n- Each prompt should be 150-250 characters\\n- Prompts should build on each other to create a narrative flow (Hook → Context → Core → Support → CTA)\\n- Ensure each slide uses the exact SYNRG color palette (#24DE99 → #FFFFFF)\\n- Avoid text in images (AI struggles with text rendering)\\n- Consider the target audience and use case when choosing visual metaphors"
        }
      }
    },
    {
      "id": "split-slides",
      "name": "Split Slide Prompts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1050, 300],
      "parameters": {
        "fieldToSplitOut": "output.slide_prompts",
        "include": "noOtherFields",
        "options": {}
      }
    },
    {
      "id": "set-slide-vars",
      "name": "Set Slide Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1250, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slide-num",
              "name": "slide_number",
              "value": "={{ $json.slide_number }}",
              "type": "number"
            },
            {
              "id": "prompt",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "style",
              "name": "style",
              "value": "={{ $json.style }}",
              "type": "string"
            },
            {
              "id": "desc",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "retry",
              "name": "retry_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "max-retry",
              "name": "max_retries",
              "value": 2,
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "generate-image",
      "name": "Generate Image - DALL-E 3",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1450, 300],
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "={{ $json.prompt }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "6BIzzQu5jAD5jKlH",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "analyze-quality",
      "name": "Analyze Image Quality",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1650, 300],
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list"
        },
        "text": "Analyze this image for enterprise-grade SYNRG marketing. Each checklist point below must be evaluated individually with a 0–10 score (10 = perfect) and a short note.\\n\\nExpected subject: {{ $json.description }}\\n\\nSYNRG Aesthetic Checklist (score each):\\n\\n1. Aspect Ratio & Resolution – 3:4 vertical, 4K\\n\\n2. Background – #f4f4f4 (or lighter), soft gradient\\n\\n3. Composition – Generous negative space, balanced layout\\n\\n4. Central Object – Frosted-glass metaball present\\n\\n5. Gradient Accuracy – #24DE99 → #FFFFFF applied correctly\\n\\n6. Surface Detail – Subtle grain, edge softness, realism\\n\\n7. Shadows/Glow – Long soft shadows, faint mint/cyan glow\\n\\n8. Typography – Bold geometric sans-serif, brand-aligned\\n\\n9. Blur Effect – Partial Gaussian-blurred text accurate\\n\\n10. Text/Errors – No misspellings, distortions, artifacts\\n\\nMarketing Value (score each):\\n\\n11. Pain Point Clarity – Problem clearly depicted\\n\\n12. Solution Clarity – Automation benefit visually implied\\n\\n13. Enterprise Value – ROI relevance, professional appeal\\n\\n14. Brand Fidelity – Consistency with SYNRG identity\\n\\nFinal Output: Return each line with Score (0–10) + Note, then a Total (0–140) and a Verdict: Effective / Needs Improvement / Off-Brand.\\n\\nProvide response as JSON with scores array and total.",
        "inputType": "base64",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "6BIzzQu5jAD5jKlH",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "parse-quality",
      "name": "Parse Quality Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse quality analysis from GPT-4 Vision (140-point scale)\nconst analysisText = $input.item.json.text;\n\nlet totalScore = 0;\nlet issues = [];\nlet recommendations = '';\n\ntry {\n  // Try to extract JSON from the response\n  const jsonMatch = analysisText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const analysis = JSON.parse(jsonMatch[0]);\n    totalScore = analysis.total || 0;\n    issues = analysis.issues || [];\n    recommendations = analysis.recommendations || '';\n  } else {\n    // Fallback: parse line by line for scores\n    const lines = analysisText.split('\\n');\n    let scoreSum = 0;\n    let scoreCount = 0;\n    \n    for (const line of lines) {\n      const scoreMatch = line.match(/Score:\\s*(\\d+)/);\n      if (scoreMatch) {\n        scoreSum += parseInt(scoreMatch[1]);\n        scoreCount++;\n      }\n    }\n    \n    // If we found individual scores, sum them; otherwise use default\n    totalScore = scoreCount > 0 ? scoreSum : 100;\n    \n    // Extract issues\n    const issuesMatch = analysisText.match(/issues?[:\\s]([^\\n]+)/i);\n    if (issuesMatch) {\n      issues = issuesMatch[1].split(',').map(i => i.trim());\n    }\n  }\n} catch (e) {\n  // Fallback to default passing score\n  totalScore = 100;\n}\n\n// Calculate percentage and normalized score (0-10 scale)\nconst percentScore = Math.round((totalScore / 140) * 100);\nconst normalizedScore = (totalScore / 140) * 10;\n\nreturn {\n  json: {\n    quality_score: normalizedScore,\n    raw_total: totalScore,\n    percent_score: percentScore,\n    issues: Array.isArray(issues) ? issues.join(', ') : issues,\n    recommendations: recommendations,\n    slide_number: $node['Set Slide Variables'].json.slide_number,\n    retry_count: $node['Set Slide Variables'].json.retry_count,\n    max_retries: $node['Set Slide Variables'].json.max_retries,\n    prompt: $node['Set Slide Variables'].json.prompt,\n    style: $node['Set Slide Variables'].json.style,\n    description: $node['Set Slide Variables'].json.description\n  },\n  binary: $input.item.binary\n};"
      }
    },
    {
      "id": "quality-check",
      "name": "Quality Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2050, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "quality-good",
              "leftValue": "={{ $json.quality_score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "max-retries",
              "leftValue": "={{ $json.retry_count }}",
              "rightValue": "={{ $json.max_retries }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "retry-prompt",
      "name": "Modify Prompt for Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 450],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Modify prompt based on quality issues from 140-point checklist\nconst issues = $json.issues.split(', ').filter(i => i.length > 0);\nconst recommendations = $json.recommendations;\nlet modifiedPrompt = $json.prompt;\n\n// Add specific improvements based on SYNRG checklist issues\nif (issues.some(i => i.toLowerCase().includes('gradient') || i.toLowerCase().includes('color'))) {\n  modifiedPrompt += ', IMPORTANT: Use exact gradient colors mint green #24DE99 transitioning to pearl white #FFFFFF';\n}\n\nif (issues.some(i => i.toLowerCase().includes('background'))) {\n  modifiedPrompt += ', super light cold gray background #f4f4f4 with soft lighting gradients';\n}\n\nif (issues.some(i => i.toLowerCase().includes('frosted') || i.toLowerCase().includes('metaball'))) {\n  modifiedPrompt += ', prominent 3D frosted glass metaball with translucent resin material, subtle grain, edge softness';\n}\n\nif (issues.some(i => i.toLowerCase().includes('shadow') || i.toLowerCase().includes('glow'))) {\n  modifiedPrompt += ', long soft shadows with faint cyan/mint glow, ambient softbox lighting';\n}\n\nif (issues.some(i => i.toLowerCase().includes('typography') || i.toLowerCase().includes('text'))) {\n  modifiedPrompt += ', bold geometric sans-serif font, Gaussian blurred text through frosted glass';\n}\n\nif (issues.some(i => i.toLowerCase().includes('clarity') || i.toLowerCase().includes('composition'))) {\n  modifiedPrompt += ', generous negative space, balanced layout, 4K resolution, hyper-clean minimalist';\n}\n\n// Add general quality boost on first retry\nif ($json.retry_count === 0) {\n  modifiedPrompt += ', award-winning design, professional exhibition quality, futuristic aesthetic';\n}\n\nreturn {\n  json: {\n    slide_number: $json.slide_number,\n    prompt: modifiedPrompt,\n    style: $json.style,\n    description: $json.description,\n    retry_count: $json.retry_count + 1,\n    max_retries: $json.max_retries\n  }\n};"
      }
    },
    {
      "id": "upload-gdrive",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2250, 300],
      "parameters": {
        "operation": "upload",
        "name": {
          "__rl": true,
          "value": "={{ 'carousel_' + $now.format('YYYY-MM-DD_HHmmss') + '_slide_' + $json.slide_number + '.png' }}",
          "mode": "expression"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1v0lANQ70OY7C1d8QM5va4PaZsE83w4Ew",
          "mode": "list"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ylMLH2SMUpGQpUUr",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "set-public",
      "name": "Set Public Permissions",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2450, 300],
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissions": {
          "permissionsUi": {
            "permissionsValues": [
              {
                "role": "reader",
                "type": "anyone"
              }
            ]
          }
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ylMLH2SMUpGQpUUr",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "format-slide-result",
      "name": "Format Slide Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2650, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slide-num",
              "name": "slide_number",
              "value": "={{ $node['Parse Quality Score'].json.slide_number }}",
              "type": "number"
            },
            {
              "id": "url",
              "name": "image_url",
              "value": "={{ 'https://drive.google.com/uc?export=view&id=' + $json.id }}",
              "type": "string"
            },
            {
              "id": "file-id",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "filename",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "quality",
              "name": "quality_score",
              "value": "={{ $node['Parse Quality Score'].json.quality_score }}",
              "type": "number"
            },
            {
              "id": "raw-total",
              "name": "raw_total_score",
              "value": "={{ $node['Parse Quality Score'].json.raw_total }}",
              "type": "number"
            },
            {
              "id": "retries",
              "name": "retry_count",
              "value": "={{ $node['Parse Quality Score'].json.retry_count }}",
              "type": "number"
            },
            {
              "id": "desc",
              "name": "description",
              "value": "={{ $node['Set Slide Variables'].json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "merge-slides",
      "name": "Merge All Slides",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2850, 300],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      }
    },
    {
      "id": "generate-metadata",
      "name": "Generate Carousel Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3050, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Generate comprehensive carousel metadata\nconst slides = $input.all();\nconst carousel_id = 'car_' + Date.now();\n\nconst agentOutput = $node['Carousel Prompt Generator'].json.output;\n\nreturn {\n  json: {\n    carousel_id: carousel_id,\n    title: agentOutput.carousel_title || 'Untitled Carousel',\n    description: agentOutput.carousel_description || '',\n    tags: agentOutput.tags || [],\n    slide_count: slides.length,\n    slides: slides.map((slide) => ({\n      slide_number: slide.json.slide_number,\n      image_url: slide.json.image_url,\n      file_id: slide.json.file_id,\n      file_name: slide.json.file_name,\n      description: slide.json.description,\n      quality_score: slide.json.quality_score,\n      raw_total_score: slide.json.raw_total_score || 0,\n      retry_count: slide.json.retry_count || 0\n    })),\n    created_at: new Date().toISOString(),\n    average_quality_score: slides.reduce((sum, s) => sum + (s.json.quality_score || 0), 0) / slides.length,\n    average_raw_score: slides.reduce((sum, s) => sum + (s.json.raw_total_score || 0), 0) / slides.length,\n    total_retries: slides.reduce((sum, s) => sum + (s.json.retry_count || 0), 0),\n    status: 'completed'\n  }\n};"
      }
    },
    {
      "id": "respond-webhook",
      "name": "Respond to Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3250, 300],
      "parameters": {
        "respondWith": "allEntries",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Set User Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User Input": {
      "main": [
        [
          {
            "node": "Carousel Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4 Turbo": {
      "ai_languageModel": [
        [
          {
            "node": "Carousel Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Carousel Prompt Generator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slide Prompts": {
      "ai_outputParser": [
        [
          {
            "node": "Carousel Prompt Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Carousel Prompt Generator": {
      "main": [
        [
          {
            "node": "Split Slide Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Slide Prompts": {
      "main": [
        [
          {
            "node": "Set Slide Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Slide Variables": {
      "main": [
        [
          {
            "node": "Generate Image - DALL-E 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image - DALL-E 3": {
      "main": [
        [
          {
            "node": "Analyze Image Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image Quality": {
      "main": [
        [
          {
            "node": "Parse Quality Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Quality Score": {
      "main": [
        [
          {
            "node": "Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Check": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Modify Prompt for Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify Prompt for Retry": {
      "main": [
        [
          {
            "node": "Set Slide Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Set Public Permissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Public Permissions": {
      "main": [
        [
          {
            "node": "Format Slide Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slide Result": {
      "main": [
        [
          {
            "node": "Merge All Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Slides": {
      "main": [
        [
          {
            "node": "Generate Carousel Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Carousel Metadata": {
      "main": [
        [
          {
            "node": "Respond to Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
