workflows/development/carousel-generator/workflow-8bhcEHkbbvnhdHBh-V3-ALL-VARIATIONS.json
{
  "name": "AI Carousel Generator - 5 Slides x 3 Variations",
  "description": "Generates 15 images (5 slides x 3 variations each), saves ALL to Google Drive with pass/fail naming",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "SYNRG Carousel Generator",
        "formDescription": "Generate a 5-slide carousel with 3 image variations per slide (15 total images)",
        "formFields": {
          "values": [
            {"fieldLabel": "What is the main subject/theme?", "placeholder": "e.g., Client Onboarding Automation", "requiredField": true},
            {"fieldLabel": "Target Audience", "placeholder": "e.g., Agency Owners, Entrepreneurs", "requiredField": true},
            {"fieldLabel": "Call to Action", "placeholder": "e.g., Book a Call, Learn More"},
            {"fieldLabel": "Brand Style", "fieldType": "dropdown", "fieldOptions": {"values": [{"option": "SYNRG Enterprise"}]}, "requiredField": true},
            {"fieldLabel": "Image Dimensions", "fieldType": "dropdown", "fieldOptions": {"values": [{"option": "Portrait (1024x1536) - Instagram/Stories"}, {"option": "Square (1024x1024) - Feed Posts"}, {"option": "Landscape (1536x1024) - LinkedIn/Headers"}]}, "requiredField": true}
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [64, 336],
      "webhookId": "carousel-form"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "theme", "name": "carousel_theme", "value": "={{ $json['What is the main subject/theme?'] }}", "type": "string"},
            {"id": "audience", "name": "target_audience", "value": "={{ $json['Target Audience'] }}", "type": "string"},
            {"id": "cta", "name": "call_to_action", "value": "={{ $json['Call to Action'] || 'Learn More' }}", "type": "string"},
            {"id": "brand-style", "name": "brand_style", "value": "={{ $json['Brand Style'] }}", "type": "string"},
            {"id": "dimensions", "name": "image_dimensions", "value": "={{ $json['Image Dimensions'].includes('Portrait') ? '1024x1536' : $json['Image Dimensions'].includes('Square') ? '1024x1024' : '1536x1024' }}", "type": "string"},
            {"id": "style-desc", "name": "style_description", "value": "SYNRG Enterprise: Hyper-clean minimalist futuristic aesthetic. Super light cold gray background (#f4f4f4). 3D frosted-glass metaball centerpiece with mint green (#24DE99) to pearl white (#FFFFFF) gradient. Long diffused shadows with mint/cyan tint. Bold geometric sans-serif typography.", "type": "string"},
            {"id": "carousel-id", "name": "carousel_id", "value": "={{ 'carousel_' + $now.format('YYYY-MM-DD_HHmmss') }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "set-user-input",
      "name": "Set User Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [272, 336]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.carousel_id }}",
        "driveId": {"__rl": true, "mode": "list", "value": "My Drive"},
        "folderId": {"__rl": true, "value": "1v0lANQ70OY7C1d8QM5va4PaZsE83w4Ew", "mode": "id"},
        "options": {}
      },
      "id": "create-carousel-folder",
      "name": "Create Carousel Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [464, 336],
      "credentials": {"googleDriveOAuth2Api": {"id": "ylMLH2SMUpGQpUUr", "name": "Google Drive account"}},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "folder-id", "name": "carousel_folder_id", "value": "={{ $json.id }}", "type": "string"},
            {"id": "folder-url", "name": "carousel_folder_url", "value": "={{ $json.webViewLink }}", "type": "string"},
            {"id": "carousel-theme", "name": "carousel_theme", "value": "={{ $('Set User Input').item.json.carousel_theme }}", "type": "string"},
            {"id": "target-audience", "name": "target_audience", "value": "={{ $('Set User Input').item.json.target_audience }}", "type": "string"},
            {"id": "cta", "name": "call_to_action", "value": "={{ $('Set User Input').item.json.call_to_action }}", "type": "string"},
            {"id": "style-desc", "name": "style_description", "value": "={{ $('Set User Input').item.json.style_description }}", "type": "string"},
            {"id": "dimensions", "name": "image_dimensions", "value": "={{ $('Set User Input').item.json.image_dimensions }}", "type": "string"},
            {"id": "carousel-id", "name": "carousel_id", "value": "={{ $('Set User Input').item.json.carousel_id }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "store-folder-info",
      "name": "Store Folder Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [672, 336]
    },
    {
      "parameters": {
        "model": {"__rl": true, "value": "gpt-4o", "mode": "list"},
        "options": {"maxTokens": 6000, "temperature": 0.8}
      },
      "id": "openai-model",
      "name": "OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [832, 608],
      "credentials": {"openAiApi": {"id": "6BIzzQu5jAD5jKlH", "name": "OpenAi account"}}
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"carousel_title\": { \"type\": \"string\", \"description\": \"Catchy title for the carousel (5-8 words)\" },\n    \"slide_prompts\": {\n      \"type\": \"array\",\n      \"description\": \"Array of 5 slides, each with 3 prompt variations\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"slide_number\": { \"type\": \"number\", \"description\": \"Slide number (1-5)\" },\n          \"slide_name\": { \"type\": \"string\", \"description\": \"Short 1-2 word name for filename (e.g., hook, pain, solution, proof, cta)\" },\n          \"slide_purpose\": { \"type\": \"string\", \"enum\": [\"hook\", \"pain_point\", \"why_problem\", \"solution\", \"call_to_action\"] },\n          \"description\": { \"type\": \"string\", \"description\": \"Brief slide description (15-20 words)\" },\n          \"prompt_variations\": {\n            \"type\": \"array\",\n            \"description\": \"3 unique prompt variations for this slide\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"variation\": { \"type\": \"number\", \"description\": \"Variation number (1, 2, or 3)\" },\n                \"emphasis\": { \"type\": \"string\", \"description\": \"What this variation emphasizes (e.g., visual_impact, emotional, clarity)\" },\n                \"prompt\": { \"type\": \"string\", \"description\": \"Complete GPT Image 1 prompt (250-350 chars) with SYNRG aesthetic details\" }\n              },\n              \"required\": [\"variation\", \"emphasis\", \"prompt\"]\n            },\n            \"minItems\": 3,\n            \"maxItems\": 3\n          },\n          \"visual_elements\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n        },\n        \"required\": [\"slide_number\", \"slide_name\", \"slide_purpose\", \"description\", \"prompt_variations\", \"visual_elements\"]\n      },\n      \"minItems\": 5,\n      \"maxItems\": 5\n    },\n    \"tags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n  },\n  \"required\": [\"carousel_title\", \"slide_prompts\", \"tags\"]\n}"
      },
      "id": "output-parser",
      "name": "Parse Slide Prompts",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1328, 624]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"Theme: \" + $json.carousel_theme + \"\\nTarget Audience: \" + $json.target_audience + \"\\nCall to Action: \" + $json.call_to_action + \"\\nImage Dimensions: \" + $json.image_dimensions + \"\\nStyle: \" + $json.style_description + \"\\n\\nGenerate 5 carousel slides. For EACH slide, create 3 UNIQUE prompt variations with different emphases:\\n- Variation 1: Focus on VISUAL IMPACT (bold composition, striking contrast)\\n- Variation 2: Focus on EMOTIONAL CONNECTION (human element, relatability)\\n- Variation 3: Focus on BRAND CLARITY (clean messaging, professional tone)\\n\\nEach prompt MUST be 250-350 characters with complete SYNRG aesthetic details. Make each variation distinctly different while maintaining brand consistency.\" }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are SYNRG's expert visual prompt engineer. Generate GPT Image 1 prompts for the SYNRG aesthetic.\n\nSYNRG AESTHETIC REQUIREMENTS:\n- Background: Super light cold gray (#f4f4f4)\n- Centerpiece: 3D frosted-glass metaball\n- Gradient: Mint green (#24DE99) to pearl white (#FFFFFF)\n- Typography: Bold geometric sans-serif (Satoshi/Monument)\n- Shadows: Long, soft, with mint/cyan ambient glow\n\nCRITICAL: Each of the 3 variations per slide must be GENUINELY DIFFERENT:\n- Different composition angles\n- Different focal elements\n- Different emotional tones\n- Different text placements\n\nDO NOT create slight variations - make each prompt produce a distinctly different image while staying on-brand."
        }
      },
      "id": "ai-agent",
      "name": "Carousel Prompt Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [992, 320]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.slide_prompts",
        "options": {}
      },
      "id": "split-slides",
      "name": "Split Into 5 Slides",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1456, 320]
    },
    {
      "parameters": {
        "jsCode": "// Flatten slides into 15 items (5 slides x 3 variations)\nconst folderInfo = $('Store Folder Info').first().json;\nconst slides = $input.all();\nconst results = [];\n\nfor (const slide of slides) {\n  const s = slide.json;\n  const variations = s.prompt_variations || [];\n  \n  for (const v of variations) {\n    results.push({\n      json: {\n        slide_number: s.slide_number,\n        slide_name: s.slide_name || `slide${s.slide_number}`,\n        slide_purpose: s.slide_purpose,\n        description: s.description,\n        visual_elements: s.visual_elements,\n        variation_number: v.variation,\n        variation_emphasis: v.emphasis,\n        current_prompt: v.prompt,\n        carousel_folder_id: folderInfo.carousel_folder_id,\n        carousel_folder_url: folderInfo.carousel_folder_url,\n        carousel_id: folderInfo.carousel_id,\n        image_dimensions: folderInfo.image_dimensions,\n        style_description: folderInfo.style_description,\n        quality_prompt: 'Analyze this image. Return JSON: {\"scores\": {\"background\": 0-10, \"composition\": 0-10, \"metaball\": 0-10, \"gradient\": 0-10, \"typography\": 0-10, \"brand_fidelity\": 0-10}, \"total_score\": 0-60, \"verdict\": \"Effective|Needs Improvement|Off-Brand\", \"passes\": true/false}'\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "flatten-variations",
      "name": "Flatten to 15 Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1664, 320]
    },
    {
      "parameters": {
        "options": {"reset": false}
      },
      "id": "batch-loop",
      "name": "Process Each Image",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1872, 320]
    },
    {
      "parameters": {
        "mode": "rules",
        "options": {"fallbackOutput": "none"},
        "rules": {
          "values": [
            {"conditions": {"conditions": [{"leftValue": "={{ $json.image_dimensions }}", "rightValue": "1024x1536", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Portrait"},
            {"conditions": {"conditions": [{"leftValue": "={{ $json.image_dimensions }}", "rightValue": "1024x1024", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Square"},
            {"conditions": {"conditions": [{"leftValue": "={{ $json.image_dimensions }}", "rightValue": "1536x1024", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Landscape"}
          ]
        }
      },
      "id": "route-dimension",
      "name": "Route by Dimension",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [2080, 320]
    },
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "={{ $json.current_prompt }}",
        "options": {"quality": "high", "size": "1024x1536"}
      },
      "id": "gen-portrait",
      "name": "Generate Portrait",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [2320, 160],
      "credentials": {"openAiApi": {"id": "6BIzzQu5jAD5jKlH", "name": "OpenAi account"}},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "={{ $json.current_prompt }}",
        "options": {"quality": "high", "size": "1024x1024"}
      },
      "id": "gen-square",
      "name": "Generate Square",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [2320, 320],
      "credentials": {"openAiApi": {"id": "6BIzzQu5jAD5jKlH", "name": "OpenAi account"}},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "={{ $json.current_prompt }}",
        "options": {"quality": "high", "size": "1536x1024"}
      },
      "id": "gen-landscape",
      "name": "Generate Landscape",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [2320, 480],
      "credentials": {"openAiApi": {"id": "6BIzzQu5jAD5jKlH", "name": "OpenAi account"}},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {"values": []},
        "options": {}
      },
      "id": "merge-generated",
      "name": "Merge Generated",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [2544, 320]
    },
    {
      "parameters": {
        "jsCode": "// Preserve context from before image generation\nconst items = $input.all();\nconst batchItem = $('Process Each Image').item;\nconst results = [];\n\nfor (const item of items) {\n  results.push({\n    json: {\n      ...batchItem.json,\n      generation_success: !!item.binary?.data,\n      generation_error: item.json?.error || null\n    },\n    binary: item.binary || {}\n  });\n}\nreturn results;"
      },
      "id": "restore-context",
      "name": "Restore Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2752, 320]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ 'slide_' + $json.slide_number + '_' + $json.slide_name + '_v' + $json.variation_number + '_PENDING.png' }}",
        "driveId": {"__rl": true, "mode": "list", "value": "My Drive"},
        "folderId": {"__rl": true, "value": "={{ $json.carousel_folder_id }}", "mode": "id"},
        "options": {}
      },
      "id": "save-all-images",
      "name": "Save ALL to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2960, 320],
      "credentials": {"googleDriveOAuth2Api": {"id": "ylMLH2SMUpGQpUUr", "name": "Google Drive account"}},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "file-id", "name": "drive_file_id", "value": "={{ $json.id }}", "type": "string"},
            {"id": "file-name", "name": "drive_file_name", "value": "={{ $json.name }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "store-file-info",
      "name": "Store File Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3168, 320]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {"__rl": true, "value": "gpt-4o", "mode": "list"},
        "text": "={{ $('Process Each Image').item.json.quality_prompt }}",
        "inputType": "base64",
        "binaryPropertyName": "data",
        "simplify": true,
        "options": {"detail": "high", "maxTokens": 500}
      },
      "id": "analyze-quality",
      "name": "Analyze Quality",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [3376, 320],
      "credentials": {"openAiApi": {"id": "6BIzzQu5jAD5jKlH", "name": "OpenAi account"}},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse quality analysis and determine pass/fail\nconst items = $input.all();\nconst batchItem = $('Process Each Image').item;\nconst fileInfo = $('Store File Info').item;\nconst results = [];\n\nconst MIN_SCORE = 42; // 70% of 60 max\n\nfor (const item of items) {\n  try {\n    const text = item.json.content || item.json.text || JSON.stringify(item.json);\n    const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n    const analysis = jsonMatch ? JSON.parse(jsonMatch[0]) : { total_score: 0, passes: false, verdict: 'Off-Brand' };\n    \n    const totalScore = analysis.total_score || 0;\n    const passes = analysis.passes === true || totalScore >= MIN_SCORE;\n    const verdict = passes ? 'PASS' : 'FAIL';\n    \n    results.push({\n      json: {\n        ...batchItem.json,\n        drive_file_id: fileInfo.json.drive_file_id,\n        drive_file_name: fileInfo.json.drive_file_name,\n        quality_score: totalScore,\n        quality_percent: Math.round((totalScore / 60) * 100),\n        passes_quality: passes,\n        verdict: verdict,\n        scores: analysis.scores || {},\n        new_filename: 'slide_' + batchItem.json.slide_number + '_' + batchItem.json.slide_name + '_v' + batchItem.json.variation_number + '_' + verdict + '.png'\n      },\n      binary: item.binary || {}\n    });\n  } catch (e) {\n    results.push({\n      json: {\n        ...batchItem.json,\n        drive_file_id: fileInfo.json.drive_file_id,\n        quality_score: 0,\n        passes_quality: false,\n        verdict: 'FAIL',\n        error: e.message,\n        new_filename: 'slide_' + batchItem.json.slide_number + '_' + batchItem.json.slide_name + '_v' + batchItem.json.variation_number + '_FAIL.png'\n      }\n    });\n  }\n}\nreturn results;"
      },
      "id": "parse-quality",
      "name": "Parse Quality Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3584, 320]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "move",
        "fileId": {"__rl": true, "value": "={{ $json.drive_file_id }}", "mode": "id"},
        "driveId": {"__rl": true, "mode": "list", "value": "My Drive"},
        "folderId": {"__rl": true, "value": "={{ $json.carousel_folder_id }}", "mode": "id"},
        "options": {"name": "={{ $json.new_filename }}"}
      },
      "id": "rename-with-verdict",
      "name": "Rename with PASS/FAIL",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [3792, 320],
      "credentials": {"googleDriveOAuth2Api": {"id": "ylMLH2SMUpGQpUUr", "name": "Google Drive account"}},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "final-file-id", "name": "final_file_id", "value": "={{ $json.id }}", "type": "string"},
            {"id": "final-url", "name": "image_url", "value": "={{ 'https://drive.google.com/uc?export=view&id=' + $json.id }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "format-result",
      "name": "Format Final Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [4000, 320]
    },
    {
      "parameters": {},
      "id": "loop-back",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [4208, 320]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "merge-all",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [4416, 320]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst folderInfo = $('Store Folder Info').first().json;\nconst agentOutput = $('Carousel Prompt Generator').first().json.output || {};\n\n// Group by slide\nconst slideGroups = {};\nfor (const item of allItems) {\n  const slideNum = item.json.slide_number;\n  if (!slideGroups[slideNum]) {\n    slideGroups[slideNum] = {\n      slide_number: slideNum,\n      slide_name: item.json.slide_name,\n      slide_purpose: item.json.slide_purpose,\n      variations: []\n    };\n  }\n  slideGroups[slideNum].variations.push({\n    variation: item.json.variation_number,\n    emphasis: item.json.variation_emphasis,\n    quality_score: item.json.quality_score || 0,\n    verdict: item.json.verdict,\n    image_url: item.json.image_url,\n    file_id: item.json.final_file_id\n  });\n}\n\n// Calculate stats\nconst allScores = allItems.map(i => i.json.quality_score || 0);\nconst avgScore = allScores.length ? Math.round(allScores.reduce((a,b) => a + b, 0) / allScores.length) : 0;\nconst passCount = allItems.filter(i => i.json.passes_quality).length;\nconst failCount = allItems.length - passCount;\n\nreturn [{\n  json: {\n    carousel_title: agentOutput.carousel_title || 'AI Carousel',\n    total_images: allItems.length,\n    passed: passCount,\n    failed: failCount,\n    average_quality: Math.round((avgScore / 60) * 100),\n    slides: Object.values(slideGroups),\n    folder_url: folderInfo.carousel_folder_url,\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "generate-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4624, 320]
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Carousel Generation Complete!",
        "completionMessage": "={{ '# ' + $json.carousel_title + '\\n\\n**Images Generated:** ' + $json.total_images + '\\n**Passed Quality:** ' + $json.passed + '\\n**Failed Quality:** ' + $json.failed + '\\n**Average Quality:** ' + $json.average_quality + '%\\n\\n' + ($json.folder_url ? '[Open Google Drive Folder](' + $json.folder_url + ')' : '') }}",
        "options": {"formTitle": "SYNRG Carousel Generator - Complete"}
      },
      "id": "show-results",
      "name": "Show Results",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [4832, 320],
      "webhookId": "carousel-complete"
    }
  ],
  "connections": {
    "Form Trigger": {"main": [[{"node": "Set User Input", "type": "main", "index": 0}]]},
    "Set User Input": {"main": [[{"node": "Create Carousel Folder", "type": "main", "index": 0}]]},
    "Create Carousel Folder": {"main": [[{"node": "Store Folder Info", "type": "main", "index": 0}]]},
    "Store Folder Info": {"main": [[{"node": "Carousel Prompt Generator", "type": "main", "index": 0}]]},
    "OpenAI GPT-4o": {"ai_languageModel": [[{"node": "Carousel Prompt Generator", "type": "ai_languageModel", "index": 0}]]},
    "Parse Slide Prompts": {"ai_outputParser": [[{"node": "Carousel Prompt Generator", "type": "ai_outputParser", "index": 0}]]},
    "Carousel Prompt Generator": {"main": [[{"node": "Split Into 5 Slides", "type": "main", "index": 0}]]},
    "Split Into 5 Slides": {"main": [[{"node": "Flatten to 15 Items", "type": "main", "index": 0}]]},
    "Flatten to 15 Items": {"main": [[{"node": "Process Each Image", "type": "main", "index": 0}]]},
    "Process Each Image": {"main": [[{"node": "Merge All Results", "type": "main", "index": 0}], [{"node": "Route by Dimension", "type": "main", "index": 0}]]},
    "Route by Dimension": {"main": [[{"node": "Generate Portrait", "type": "main", "index": 0}], [{"node": "Generate Square", "type": "main", "index": 0}], [{"node": "Generate Landscape", "type": "main", "index": 0}]]},
    "Generate Portrait": {"main": [[{"node": "Merge Generated", "type": "main", "index": 0}]]},
    "Generate Square": {"main": [[{"node": "Merge Generated", "type": "main", "index": 1}]]},
    "Generate Landscape": {"main": [[{"node": "Merge Generated", "type": "main", "index": 2}]]},
    "Merge Generated": {"main": [[{"node": "Restore Context", "type": "main", "index": 0}]]},
    "Restore Context": {"main": [[{"node": "Save ALL to Drive", "type": "main", "index": 0}]]},
    "Save ALL to Drive": {"main": [[{"node": "Store File Info", "type": "main", "index": 0}]]},
    "Store File Info": {"main": [[{"node": "Analyze Quality", "type": "main", "index": 0}]]},
    "Analyze Quality": {"main": [[{"node": "Parse Quality Result", "type": "main", "index": 0}]]},
    "Parse Quality Result": {"main": [[{"node": "Rename with PASS/FAIL", "type": "main", "index": 0}]]},
    "Rename with PASS/FAIL": {"main": [[{"node": "Format Final Result", "type": "main", "index": 0}]]},
    "Format Final Result": {"main": [[{"node": "Loop Back", "type": "main", "index": 0}]]},
    "Loop Back": {"main": [[{"node": "Process Each Image", "type": "main", "index": 0}]]},
    "Merge All Results": {"main": [[{"node": "Generate Summary", "type": "main", "index": 0}]]},
    "Generate Summary": {"main": [[{"node": "Show Results", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1"
  }
}