voice-agent-poc/relay-server/workflows/get-session-context.json
{
  "name": "Get Session Context - Voice Agent Tool",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "parameters": {
        "path": "get-session-context",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate required fields\nconst body = $input.item.json.body || {};\n\nif (!body.session_id) {\n  throw new Error('Missing required field: session_id');\n}\n\nif (!body.context_key) {\n  throw new Error('Missing required field: context_key');\n}\n\nreturn {\n  json: {\n    session_id: body.session_id,\n    context_key: body.context_key,\n    connection_id: body.connection_id || null\n  }\n};"
      }
    },
    {
      "id": "query-session-context",
      "name": "Query Session Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  context_key,\n  context_value,\n  created_at,\n  expires_at,\n  CASE \n    WHEN expires_at IS NULL THEN true\n    WHEN expires_at > NOW() THEN true\n    ELSE false\n  END as is_valid\nFROM session_context\nWHERE session_id = $1\n  AND context_key = $2\n  AND (expires_at IS NULL OR expires_at > NOW())\nORDER BY created_at DESC\nLIMIT 1",
        "options": {
          "queryParameters": "={{ { \"values\": [$json.session_id, $json.context_key] } }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "your-postgres-credential-id",
          "name": "MICROSOFT TEAMS AGENT DATTABASE"
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "id": "check-results",
      "name": "Check Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "found-context",
              "operator": {
                "name": "filter.operator.notEmpty",
                "type": "object",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.context_value }}",
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "format-success-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const result = $input.item.json;\nconst sessionId = $('Validate Input').item.json.session_id;\nconst contextKey = $('Validate Input').item.json.context_key;\n\nreturn {\n  json: {\n    success: true,\n    context_key: result.context_key,\n    context_value: result.context_value,\n    cached: true,\n    created_at: result.created_at,\n    expires_at: result.expires_at,\n    session_id: sessionId\n  }\n};"
      }
    },
    {
      "id": "format-not-found-response",
      "name": "Format Not Found Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $('Validate Input').item.json;\n\nreturn {\n  json: {\n    success: false,\n    context_key: input.context_key,\n    context_value: null,\n    cached: false,\n    message: 'Context not found or expired',\n    session_id: input.session_id\n  }\n};"
      }
    },
    {
      "id": "add-cache-headers",
      "name": "Add Cache Headers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.item.json;\n\n// Calculate cache duration\nlet maxAge = 900; // 15 minutes default\nif (data.expires_at) {\n  const expiresAt = new Date(data.expires_at);\n  const now = new Date();\n  const secondsUntilExpiry = Math.floor((expiresAt - now) / 1000);\n  maxAge = Math.max(0, Math.min(secondsUntilExpiry, 900));\n}\n\n// Generate ETag from context value\nconst etag = data.context_value \n  ? `\\\"${Buffer.from(JSON.stringify(data.context_value)).toString('base64').substring(0, 32)}\\\"`\n  : null;\n\nreturn {\n  json: {\n    ...data,\n    headers: {\n      'Cache-Control': data.cached ? `private, max-age=${maxAge}` : 'no-cache',\n      'ETag': etag,\n      'X-Cache-Status': data.cached ? 'HIT' : 'MISS'\n    }\n  }\n};"
      }
    },
    {
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1560, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Cache-Control",
                "value": "={{ $json.headers['Cache-Control'] }}"
              },
              {
                "name": "ETag",
                "value": "={{ $json.headers.ETag }}"
              },
              {
                "name": "X-Cache-Status",
                "value": "={{ $json.headers['X-Cache-Status'] }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Query Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Session Context": {
      "main": [
        [
          {
            "node": "Check Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Results": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Not Found Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Add Cache Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Not Found Response": {
      "main": [
        [
          {
            "node": "Add Cache Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Cache Headers": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}
