voice-agent-poc/relay-server/workflows/query-vector-db.json
{
  "name": "Query Vector DB - Voice Agent Tool",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 400],
      "parameters": {
        "path": "query-vector-db",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate required fields\nconst body = $input.item.json.body || {};\n\nif (!body.session_id) {\n  throw new Error('Missing required field: session_id');\n}\n\nif (!body.user_query) {\n  throw new Error('Missing required field: user_query');\n}\n\nreturn {\n  json: {\n    session_id: body.session_id,\n    user_query: body.user_query,\n    filters: body.filters || {},\n    connection_id: body.connection_id || null,\n    query_id: `q_${Date.now()}_${Math.random().toString(36).substring(7)}`\n  }\n};"
      }
    },
    {
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [680, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.user_query }}"
            },
            {
              "name": "model",
              "value": "text-embedding-ada-002"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "your-openai-credential-id",
          "name": "OpenAI API"
        }
      },
      "continueOnFail": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "id": "extract-embedding",
      "name": "Extract Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $('Validate Input').item.json;\nconst embeddingResponse = $input.item.json;\n\n// Extract embedding vector\nconst embedding = embeddingResponse.data[0].embedding;\n\nreturn {\n  json: {\n    ...input,\n    embedding: embedding,\n    embedding_model: embeddingResponse.model\n  }\n};"
      }
    },
    {
      "id": "query-vector-database",
      "name": "Query Vector Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1120, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  content,\n  metadata,\n  1 - (embedding <=> $1::vector) as similarity_score\nFROM documents\nWHERE \n  ($2::jsonb IS NULL OR metadata @> $2::jsonb)\n  AND (1 - (embedding <=> $1::vector)) > 0.7\nORDER BY embedding <=> $1::vector\nLIMIT 5",
        "options": {
          "queryParameters": "={{ { \"values\": [JSON.stringify($json.embedding), JSON.stringify($json.filters)] } }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "your-postgres-credential-id",
          "name": "MICROSOFT TEAMS AGENT DATTABASE"
        }
      },
      "continueOnFail": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $('Extract Embedding').item.json;\nconst queryResults = $input.all();\n\n// Format results for voice response\nconst results = queryResults.map(item => ({\n  document: item.json.content,\n  score: item.json.similarity_score,\n  metadata: item.json.metadata\n}));\n\n// Generate summary for voice\nconst summary = results.length > 0 \n  ? `Found ${results.length} relevant document${results.length === 1 ? '' : 's'}`\n  : 'No relevant documents found';\n\n// Create voice-friendly response\nlet voiceResponse = '';\nif (results.length > 0) {\n  const topResult = results[0];\n  const metadata = topResult.metadata || {};\n  voiceResponse = `I found ${results.length} relevant result${results.length === 1 ? '' : 's'}. `;\n  \n  // Add context from top result\n  if (metadata.category === 'sales') {\n    voiceResponse += `The most relevant information is about sales data. `;\n  }\n  \n  // Add brief content preview (first 150 chars)\n  const preview = topResult.document.substring(0, 150);\n  voiceResponse += preview + (topResult.document.length > 150 ? '...' : '');\n} else {\n  voiceResponse = \"I couldn't find any relevant information for that query. Could you try rephrasing or asking about something else?\";\n}\n\nreturn {\n  json: {\n    success: true,\n    query_id: input.query_id,\n    results: results,\n    summary: summary,\n    voice_response: voiceResponse,\n    session_id: input.session_id,\n    user_query: input.user_query\n  }\n};"
      }
    },
    {
      "id": "store-in-session-context",
      "name": "Store in Session Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1560, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO session_context \n  (session_id, context_key, context_value, expires_at)\nVALUES \n  ($1, $2, $3, NOW() + INTERVAL '15 minutes')\nON CONFLICT (session_id, context_key) \nDO UPDATE SET \n  context_value = EXCLUDED.context_value,\n  expires_at = EXCLUDED.expires_at,\n  created_at = NOW()\nRETURNING id, created_at, expires_at",
        "options": {
          "queryParameters": "={{ { \"values\": [$json.session_id, 'last_query_results', JSON.stringify({ query: $json.user_query, results: $json.results, timestamp: new Date().toISOString() })] } }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "your-postgres-credential-id",
          "name": "MICROSOFT TEAMS AGENT DATTABASE"
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "id": "add-context-stored-flag",
      "name": "Add Context Stored Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const queryData = $('Format Results').item.json;\nconst contextResult = $input.item.json;\n\nreturn {\n  json: {\n    ...queryData,\n    context_stored: !!contextResult.id,\n    context_expires_at: contextResult.expires_at || null\n  }\n};"
      }
    },
    {
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2000, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Query-ID",
                "value": "={{ $json.query_id }}"
              },
              {
                "name": "X-Results-Count",
                "value": "={{ $json.results.length }}"
              }
            ]
          }
        }
      }
    },
    {
      "id": "handle-context-store-failure",
      "name": "Handle Context Store Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 550],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const queryData = $('Format Results').item.json;\n\n// If context storage failed, still return results but flag as not stored\nreturn {\n  json: {\n    ...queryData,\n    context_stored: false,\n    context_store_error: 'Failed to store context in session',\n    context_expires_at: null\n  }\n};"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Extract Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Embedding": {
      "main": [
        [
          {
            "node": "Query Vector Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Vector Database": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Store in Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Session Context": {
      "main": [
        [
          {
            "node": "Add Context Stored Flag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Context Store Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Context Stored Flag": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Context Store Failure": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}
