security-monitoring/github-security-logs-workflow.json
{
  "name": "GitHub Security Logs to Google Drive",
  "id": "wEBNxJkHuOUgO2PO",
  "active": false,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "security-logs",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "switch-scan-type",
      "name": "Route by Scan Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [450, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.scan_type || $json.report_type }}", "rightValue": "secrets", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "secrets"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.scan_type || $json.report_type }}", "rightValue": "dependencies", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "dependencies"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.scan_type || $json.report_type }}", "rightValue": "sast", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sast"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.scan_type || $json.report_type }}", "rightValue": "infrastructure", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "infrastructure"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.scan_type || $json.report_type }}", "rightValue": "comprehensive_security_scan", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "comprehensive"
            }
          ]
        }
      }
    },
    {
      "id": "format-report",
      "name": "Format Security Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const scanType = $input.item.json.scan_type || $input.item.json.report_type || 'unknown';\nconst timestamp = new Date().toISOString();\nconst date = timestamp.split('T')[0];\n\n// Extract findings summary\nconst findings = $input.item.json.findings || [];\nconst severity = $input.item.json.severity || 'UNKNOWN';\nconst criticalCount = findings.filter(f => f.severity === 'CRITICAL').length;\nconst highCount = findings.filter(f => f.severity === 'HIGH').length;\nconst mediumCount = findings.filter(f => f.severity === 'MEDIUM').length;\nconst lowCount = findings.filter(f => f.severity === 'LOW').length;\n\n// Generate markdown report\nconst markdown = `# Security Scan Report: ${scanType.toUpperCase()}\n\n**Date:** ${timestamp}\n**Scan Type:** ${scanType}\n**Overall Severity:** ${severity}\n\n## Summary\n\n- Critical: ${criticalCount}\n- High: ${highCount}\n- Medium: ${mediumCount}\n- Low: ${lowCount}\n- Total Findings: ${findings.length}\n\n## Findings\n\n${findings.map((f, i) => `\n### ${i + 1}. ${f.title || 'Finding'}\n\n**Severity:** ${f.severity || 'UNKNOWN'}\n**Description:** ${f.description || 'No description'}\n**Location:** ${f.location || 'N/A'}\n${f.recommendation ? `**Recommendation:** ${f.recommendation}` : ''}\n`).join('\\n')}\n\n## Raw Data\n\n\\`\\`\\`json\n${JSON.stringify($input.item.json, null, 2)}\n\\`\\`\\`\n\n---\n*Report generated by n8n Security Log Aggregation*\n`;\n\n// Generate filename\nconst filename = `security-scan-${scanType}-${date}.md`;\n\nreturn {\n  json: {\n    filename: filename,\n    content: markdown,\n    severity: severity,\n    scanType: scanType,\n    timestamp: timestamp,\n    findingsCount: findings.length,\n    criticalCount: criticalCount,\n    highCount: highCount\n  }\n};"
      }
    },
    {
      "id": "upload-to-drive",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [850, 300],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.filename }}",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list" },
        "folderId": { "__rl": true, "value": "root", "mode": "list", "cachedResultName": "/ (Root folder)" },
        "inputDataFieldName": "={{ $json.content }}",
        "options": { "mimeType": "text/markdown" }
      },
      "notes": "Configure folderId to target specific folder"
    },
    {
      "id": "check-severity",
      "name": "Check Critical Severity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1050, 300],
      "parameters": {
        "conditions": {
          "options": { "version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "severity-critical", "leftValue": "={{ $json.severity }}", "rightValue": "CRITICAL", "operator": { "type": "string", "operation": "equals" } },
            { "id": "severity-high", "leftValue": "={{ $json.severity }}", "rightValue": "HIGH", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "prepare-alert",
      "name": "Prepare Alert Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 200],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "alert-message", "name": "alertMessage", "value": "={{ 'CRITICAL SECURITY ALERT: ' + $json.scanType + ' scan found ' + $json.criticalCount + ' critical and ' + $json.highCount + ' high severity issues' }}", "type": "string" },
            { "id": "alert-severity", "name": "alertSeverity", "value": "={{ $json.severity }}", "type": "string" },
            { "id": "alert-timestamp", "name": "alertTimestamp", "value": "={{ $json.timestamp }}", "type": "string" },
            { "id": "alert-scan-type", "name": "scanType", "value": "={{ $json.scanType }}", "type": "string" },
            { "id": "alert-findings", "name": "findingsCount", "value": "={{ $json.findingsCount }}", "type": "number" }
          ]
        },
        "includeOtherFields": false
      },
      "notes": "Connect to notification system (Slack, Email, etc.)"
    },
    {
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1250, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Security scan report processed\", \"filename\": $json.filename, \"severity\": $json.severity, \"findings\": $json.findingsCount } }}"
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Route by Scan Type", "type": "main", "index": 0 }]] },
    "Route by Scan Type": {
      "main": [
        [{ "node": "Format Security Report", "type": "main", "index": 0 }],
        [{ "node": "Format Security Report", "type": "main", "index": 0 }],
        [{ "node": "Format Security Report", "type": "main", "index": 0 }],
        [{ "node": "Format Security Report", "type": "main", "index": 0 }],
        [{ "node": "Format Security Report", "type": "main", "index": 0 }]
      ]
    },
    "Format Security Report": { "main": [[{ "node": "Upload to Google Drive", "type": "main", "index": 0 }]] },
    "Upload to Google Drive": { "main": [[{ "node": "Check Critical Severity", "type": "main", "index": 0 }]] },
    "Check Critical Severity": {
      "main": [
        [{ "node": "Prepare Alert Data", "type": "main", "index": 0 }, { "node": "Respond to Webhook", "type": "main", "index": 0 }],
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Alert Data": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  }
}
