voice-agent-poc/n8n-workflows/teams-voice-bot-launcher.json
{
  "name": "Teams Voice Bot - Launcher v4.2 (Agent Pre-Init)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Start Voice Bot",
        "formDescription": "Paste your Microsoft Teams meeting URL to start the AI voice bot.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Meeting URL",
              "placeholder": "https://teams.live.com/meet/...",
              "requiredField": true
            },
            {
              "fieldLabel": "Bot Name",
              "placeholder": "AI Voice Assistant"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "form-trigger",
      "name": "Start Bot Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [0, 208],
      "webhookId": "4dbcc051-001b-4cd9-b7f1-b8533e051103"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "meeting_url",
              "name": "meeting_url",
              "value": "={{ $json['Meeting URL'] || $json.body?.meeting_url || $json.meeting_url || '' }}",
              "type": "string"
            },
            {
              "id": "bot_name",
              "name": "bot_name",
              "value": "={{ $json['Bot Name'] || $json.body?.bot_name || $json.bot_name || 'AI Voice Assistant' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-meeting-url",
      "name": "Set Meeting URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [208, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backboard.railway.app/graphql/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"query\": \"query { service(id: \\\"\" + ($env.RAILWAY_SERVICE_ID || '95bb0daa-cb07-441b-a3f3-2d6762d8e18b') + \"\\\") { name deployments(first: 1) { edges { node { status } } } } }\" } }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-deployment",
      "name": "Check Voice Agent Deployment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [416, 304],
      "credentials": {
        "httpHeaderAuth": {
          "id": "railway-api",
          "name": "Railway API Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "deployment-status",
              "leftValue": "={{ $json.data?.service?.deployments?.edges?.[0]?.node?.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Is Agent Running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [624, 304]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error",
              "name": "error",
              "value": "true",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Voice Agent is not deployed or not running. Please check Railway deployment status.",
              "type": "string"
            },
            {
              "id": "deployment_status",
              "name": "deployment_status",
              "value": "={{ $('Check Voice Agent Deployment').first().json.data?.service?.deployments?.edges?.[0]?.node?.status || 'UNKNOWN' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "deployment-error",
      "name": "Deployment Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [832, 504]
    },
    {
      "parameters": {
        "jsCode": "// Generate unique session ID and room name\nconst sessionId = 'sess_' + crypto.randomUUID().replace(/-/g, '').substring(0, 16);\nconst roomName = 'voice-bot-' + sessionId;\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    session_id: sessionId,\n    room_name: roomName\n  }\n}];"
      },
      "id": "generate-session-id",
      "name": "Generate Session ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [832, 304]
    },
    {
      "parameters": {
        "jsCode": "// LiveKit Access Token Generator with Agent Dispatch Grant\n// Generates JWT tokens for both client AND creates an access token for Agent Dispatch API\n// NOTE: Set LIVEKIT_API_KEY and LIVEKIT_API_SECRET in n8n Settings > Variables\n\nconst LIVEKIT_API_KEY = $env.LIVEKIT_API_KEY;\nconst LIVEKIT_API_SECRET = $env.LIVEKIT_API_SECRET;\nconst LIVEKIT_URL = $env.LIVEKIT_URL || 'wss://synrg-voice-agent-gqv10vbf.livekit.cloud';\n\nconst input = $input.first().json;\nconst roomName = input.room_name;\nconst clientIdentity = 'output-media-' + input.session_id;\nconst participantName = 'Voice Client';\n\n// Token expires in 24 hours\nconst now = Math.floor(Date.now() / 1000);\nconst exp = now + 86400;\n\n// Video grant for client (Output Media webpage)\nconst clientVideoGrant = {\n  room: roomName,\n  roomJoin: true,\n  canPublish: true,\n  canPublishData: true,\n  canSubscribe: true\n};\n\n// Admin grant for room creation and agent dispatch\nconst adminGrant = {\n  roomCreate: true,\n  roomList: true,\n  roomAdmin: true,\n  room: roomName\n};\n\n// Base64URL encode helper\nfunction base64UrlEncode(obj) {\n  const str = typeof obj === 'string' ? obj : JSON.stringify(obj);\n  const base64 = Buffer.from(str).toString('base64');\n  return base64.replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n}\n\n// JWT signing helper\nfunction signJWT(header, payload, secret) {\n  const crypto = require('crypto');\n  const headerB64 = base64UrlEncode(header);\n  const payloadB64 = base64UrlEncode(payload);\n  const signatureInput = headerB64 + '.' + payloadB64;\n  const signature = crypto\n    .createHmac('sha256', secret)\n    .update(signatureInput)\n    .digest('base64')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_')\n    .replace(/=+$/, '');\n  return signatureInput + '.' + signature;\n}\n\nconst header = { alg: 'HS256', typ: 'JWT' };\n\n// Client token (for Output Media webpage)\nconst clientPayload = {\n  iss: LIVEKIT_API_KEY,\n  sub: clientIdentity,\n  name: participantName,\n  iat: now,\n  nbf: now,\n  exp: exp,\n  video: clientVideoGrant,\n  metadata: JSON.stringify({ session_id: input.session_id, bot_name: input.bot_name })\n};\nconst clientToken = signJWT(header, clientPayload, LIVEKIT_API_SECRET);\n\n// Admin token (for room creation and agent dispatch API)\nconst adminPayload = {\n  iss: LIVEKIT_API_KEY,\n  sub: 'n8n-launcher',\n  iat: now,\n  nbf: now,\n  exp: now + 300, // 5 minute expiry for admin operations\n  video: adminGrant\n};\nconst adminToken = signJWT(header, adminPayload, LIVEKIT_API_SECRET);\n\n// Extract HTTP API URL from WebSocket URL\nconst httpUrl = LIVEKIT_URL.replace('wss://', 'https://').replace('/ws', '');\n\nreturn [{\n  json: {\n    ...input,\n    livekit_url: LIVEKIT_URL,\n    livekit_http_url: httpUrl,\n    livekit_token: clientToken,\n    livekit_admin_token: adminToken,\n    client_identity: clientIdentity\n  }\n}];"
      },
      "id": "generate-livekit-token",
      "name": "Generate LiveKit Tokens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.livekit_http_url + '/twirp/livekit.RoomService/CreateRoom' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.livekit_admin_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"name\": $json.room_name, \"empty_timeout\": 300, \"max_participants\": 10 } }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "create-room",
      "name": "Create LiveKit Room",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1248, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Generate LiveKit Tokens').first().json.livekit_http_url + '/twirp/livekit.AgentDispatchService/CreateDispatch' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Generate LiveKit Tokens').first().json.livekit_admin_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"agent_name\": \"synrg-voice-agent\", \"room\": $('Generate LiveKit Tokens').first().json.room_name, \"metadata\": JSON.stringify({ session_id: $('Generate LiveKit Tokens').first().json.session_id, bot_name: $('Generate LiveKit Tokens').first().json.bot_name, dispatched_at: new Date().toISOString() }) } }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "dispatch-agent",
      "name": "Dispatch Agent to Room",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1456, 304]
    },
    {
      "parameters": {
        "jsCode": "// Wait for agent to join the room (poll room participants)\n// This ensures the agent is ready before the Recall.ai bot joins the meeting\n\nconst LIVEKIT_URL = $('Generate LiveKit Tokens').first().json.livekit_http_url;\nconst ADMIN_TOKEN = $('Generate LiveKit Tokens').first().json.livekit_admin_token;\nconst ROOM_NAME = $('Generate LiveKit Tokens').first().json.room_name;\n\nconst MAX_ATTEMPTS = 10;  // 10 attempts\nconst POLL_INTERVAL = 1000;  // 1 second between polls\n\nconst sleep = (ms) => new Promise(resolve => setTimeout(resolve, ms));\n\nfor (let attempt = 1; attempt <= MAX_ATTEMPTS; attempt++) {\n  // Query room participants\n  const response = await fetch(`${LIVEKIT_URL}/twirp/livekit.RoomService/ListParticipants`, {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${ADMIN_TOKEN}`,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({ room: ROOM_NAME })\n  });\n  \n  const data = await response.json();\n  const participants = data.participants || [];\n  \n  // Check if any participant is the agent (identity contains 'agent' or has agent metadata)\n  const agentPresent = participants.some(p => \n    p.identity?.includes('agent') || \n    p.name?.includes('agent') ||\n    p.metadata?.includes('synrg-voice-agent')\n  );\n  \n  if (agentPresent) {\n    return [{\n      json: {\n        ...$input.first().json,\n        agent_ready: true,\n        agent_check_attempts: attempt,\n        participants: participants.map(p => ({ identity: p.identity, name: p.name }))\n      }\n    }];\n  }\n  \n  // Wait before next poll (except on last attempt)\n  if (attempt < MAX_ATTEMPTS) {\n    await sleep(POLL_INTERVAL);\n  }\n}\n\n// Agent did not join in time - return with warning but continue\n// (The agent may still join when the client connects)\nreturn [{\n  json: {\n    ...$input.first().json,\n    agent_ready: false,\n    agent_check_attempts: MAX_ATTEMPTS,\n    warning: 'Agent dispatch sent but agent not detected in room yet. Proceeding anyway.'\n  }\n}];"
      },
      "id": "wait-agent-ready",
      "name": "Wait for Agent Ready",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1664, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-west-2.recall.ai/api/v1/bot/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"meeting_url\": $('Set Meeting URL').first().json.meeting_url,\n  \"bot_name\": $('Set Meeting URL').first().json.bot_name,\n  \"recording_config\": {\n    \"transcript\": {\n      \"provider\": {\n        \"recallai_streaming\": {\n          \"language_code\": \"en\",\n          \"mode\": \"prioritize_low_latency\"\n        }\n      }\n    },\n    \"realtime_endpoints\": [{\n      \"type\": \"webhook\",\n      \"url\": \"https://jayconnorexe.app.n8n.cloud/webhook/voice-bot-events\",\n      \"events\": [\"transcript.data\", \"transcript.partial_data\"]\n    }]\n  },\n  \"output_media\": {\n    \"camera\": {\n      \"kind\": \"webpage\",\n      \"config\": {\n        \"url\": \"https://voice-agent-client-production.up.railway.app/?livekit_url=\" + encodeURIComponent($('Generate LiveKit Tokens').first().json.livekit_url) + \"&token=\" + encodeURIComponent($('Generate LiveKit Tokens').first().json.livekit_token),\n        \"video_start_delay_ms\": 3000\n      }\n    },\n    \"microphone\": {\n      \"kind\": \"webpage\",\n      \"config\": {\n        \"audio_start_delay_ms\": 2000\n      }\n    }\n  },\n  \"status_callback_url\": \"https://jayconnorexe.app.n8n.cloud/webhook/recall-bot-events\"\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-bot",
      "name": "Create Recall.ai Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1872, 304],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XksCwcWinBg0uQBa",
          "name": "Recall AI header Auth - December 13th"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "bot_state",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Generate Session ID').first().json.session_id }}",
            "bot_id": "={{ $json.id }}",
            "state": "IDLE",
            "bot_name": "={{ $('Set Meeting URL').first().json.bot_name }}",
            "meeting_url": "={{ $('Set Meeting URL').first().json.meeting_url }}",
            "created_at": "={{ $now.toISO() }}",
            "status": "joining",
            "room_name": "={{ $('Generate Session ID').first().json.room_name }}",
            "last_intent": "={{ JSON.stringify({ initialized_at: $now.toISO(), bot_name: $('Set Meeting URL').first().json.bot_name, first_interaction: true, greeting_pending: true, livekit_room: $('Generate Session ID').first().json.room_name, agent_pre_init: $('Wait for Agent Ready').first().json.agent_ready }) }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "init-postgres",
      "name": "Initialize Session (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2080, 304],
      "credentials": {
        "postgres": {
          "id": "NI3jbq1U8xPst3j3",
          "name": "MICROSOFT TEAMS AGENT DATTABASE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "bot_id",
              "name": "bot_id",
              "value": "={{ $('Create Recall.ai Bot').first().json.id }}",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $('Generate Session ID').first().json.session_id }}",
              "type": "string"
            },
            {
              "id": "room_name",
              "name": "room_name",
              "value": "={{ $('Generate Session ID').first().json.room_name }}",
              "type": "string"
            },
            {
              "id": "agent_ready",
              "name": "agent_ready",
              "value": "={{ $('Wait for Agent Ready').first().json.agent_ready }}",
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $('Wait for Agent Ready').first().json.agent_ready ? 'Bot ' + $('Create Recall.ai Bot').first().json.id + ' is joining with agent ready. Room: ' + $('Generate Session ID').first().json.room_name : 'Bot ' + $('Create Recall.ai Bot').first().json.id + ' is joining. Agent may still be initializing. Room: ' + $('Generate Session ID').first().json.room_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2288, 304]
    },
    {
      "parameters": {
        "content": "## Bot Launcher v4.2 (Agent Pre-Initialization)\n\n**Architecture:** LiveKit with explicit agent dispatch before bot joins\n\n### Pre-Init Flow (NEW):\n1. Form/Webhook receives meeting URL\n2. Check Railway deployment status\n3. Generate session_id and room_name\n4. Generate LiveKit tokens (client + admin)\n5. **Create LiveKit room explicitly**\n6. **Dispatch agent to room** (explicit dispatch API)\n7. **Poll for agent readiness** (up to 10 seconds)\n8. Create Recall.ai bot (agent already in room)\n9. Initialize PostgreSQL session state\n\n### Why Pre-Init?\nPreviously, the agent only joined AFTER the Output Media\nwebpage connected. This caused 6-8 seconds of delay\nwhere the user saw the bot but had no audio.\n\nWith pre-init, the agent is ALREADY in the room waiting\nwhen the bot joins the meeting.\n\n### Required n8n Variables:\n- `LIVEKIT_API_KEY`\n- `LIVEKIT_API_SECRET`\n- `LIVEKIT_URL`\n- `RAILWAY_SERVICE_ID`\n\n### Agent Name:\nThe voice agent must be registered with:\n`agent_name=\"synrg-voice-agent\"`",
        "height": 680,
        "width": 420
      },
      "id": "sticky-info",
      "name": "Usage Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-480, -140]
    }
  ],
  "connections": {
    "Start Bot Form": {
      "main": [[{"node": "Set Meeting URL", "type": "main", "index": 0}]]
    },
    "Set Meeting URL": {
      "main": [[{"node": "Check Voice Agent Deployment", "type": "main", "index": 0}]]
    },
    "Check Voice Agent Deployment": {
      "main": [[{"node": "Is Agent Running?", "type": "main", "index": 0}]]
    },
    "Is Agent Running?": {
      "main": [
        [{"node": "Generate Session ID", "type": "main", "index": 0}],
        [{"node": "Deployment Error Response", "type": "main", "index": 0}]
      ]
    },
    "Deployment Error Response": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Generate Session ID": {
      "main": [[{"node": "Generate LiveKit Tokens", "type": "main", "index": 0}]]
    },
    "Generate LiveKit Tokens": {
      "main": [[{"node": "Create LiveKit Room", "type": "main", "index": 0}]]
    },
    "Create LiveKit Room": {
      "main": [[{"node": "Dispatch Agent to Room", "type": "main", "index": 0}]]
    },
    "Dispatch Agent to Room": {
      "main": [[{"node": "Wait for Agent Ready", "type": "main", "index": 0}]]
    },
    "Wait for Agent Ready": {
      "main": [[{"node": "Create Recall.ai Bot", "type": "main", "index": 0}]]
    },
    "Create Recall.ai Bot": {
      "main": [[{"node": "Initialize Session (Postgres)", "type": "main", "index": 0}]]
    },
    "Initialize Session (Postgres)": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
